<?xml version="1.0"?>

<model>
  <name>Eurobot Playground low spec Model</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Aron Lapp</name>
    <email>Aron.Lapp@htwg-konstanz.de</email>
  </author>

  <description>
    Example for a Playground Model fitted for lower spec
  </description>

</model>
