<?xml version="1.0"?>

<model>
    <name>Eurobot Empty Crates</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>

    <author>
        <name>Aron Lapp</name>
        <email>aron.lapp@htwg-konstanz.de</email>
    </author>

    <description>
    The empty crates model for eurobot 2026
    </description>

</model>
