<?xml version="1.0"?>

<model>
  <name>Eurobot Dummy Robot</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Aron Lapp</name>
    <email>aron.lapp@htwg-konstanz.de</email>
  </author>

  <description>
    A Dummy Robot to put on the Playground
  </description>

</model>