<?xml version="1.0"?>

<model>
  <name>Eurobot sample support for hexagons on table</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Michael Blaich</name>
    <email>mblaich@htwg-konstanz.de</email>
  </author>

  <description>
    The sample support for hexagons on table
  </description>

</model>
